<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Presupuesto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="container">
    <ion-text>
      <h1>Su presupuesto: ${{presupuesto}}</h1>
    </ion-text>

    <form
      [formGroup]="presupuestoForm"
      class="presupuesto-form"
      (ngSubmit)="submitForm()"
    >
      <ion-list>
        <ion-item>
          <ion-label>Gasto</ion-label>
          <ion-input formControlName="gasto" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cantidad</ion-label>
          <ion-input
            formControlName="cantidad"
            type="number"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-select required formControlName="categoria" postion="fixed">
            <ion-select-option value="comida">Comida</ion-select-option>
            <ion-select-option value="transporte">Transporte</ion-select-option>
            <ion-select-option value="ropa">Ropa</ion-select-option>
            <ion-select-option value="salud">Salud</ion-select-option>
            <ion-select-option value="hogar">Hogar</ion-select-option>
            <ion-select-option value="entretenimiento"
              >Entretenimiento</ion-select-option
            >
            <ion-select-option value="otros">Otros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button
        expand="full"
        type="submit"
        (click)="submitForm"
        [disabled]="presupuestoForm.invalid"
        >Agregar</ion-button
      >
    </form>

    <div class="gastosTable">
      <ion-header>
        <ion-toolbar>
          <ion-title>Gastos</ion-title>
        </ion-toolbar>
      </ion-header>

      <!-- Filas para cada gasto -->
      <ion-grid *ngIf="gastos.length > 0">
        <!-- Fila del header de la tabla -->
        <ion-row class="gastoHeader">
          <ion-col>
            <ion-label>Gasto</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Cantidad</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Categoria</ion-label>
          </ion-col>
        </ion-row>
        <!--  -->
        <ion-row class="gastoRow" *ngFor="let gasto of gastos">
          <ion-item-sliding>
            <ion-item>
              <ion-col>
                <ion-label>{{gasto.gasto}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>${{gasto.cantidad}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{gasto.categoria}}</ion-label>
              </ion-col>
            </ion-item>

            <ion-item-options>
              <ion-item-option color="danger" (click)="eliminarGasto(gasto)"
                >Delete</ion-item-option
              >
            </ion-item-options>
          </ion-item-sliding>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="gastos.length === 0">
        <ion-row>
          <ion-col>
            <ion-label>No hay gastos</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </main>

  
  <!-- Toast -->
  <ion-toast
    [isOpen]="isToastVisible"
    color="danger"
    [message]="toastMessage"
    [duration]="2000"    
    (didDismiss)="isToastVisible = false"
  ></ion-toast>
</ion-content>
