.container{
    max-width: 90vw;
    margin: 0 auto !important;
}

.presupuesto-form{
    margin: 80px auto;
}

.gastosTable{
    .gastoHeader {
        ion-col{
            padding: 10px 0;
            &:first-child{
                padding-left: 20px;
            }
        }
    }

    .gastoRow ion-col{
        padding: 10px 20px;
        
        &:first-child{
            padding-left: 0px;
        }
    }
}